<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item routerLink="/create">Create Playlist</li>
      <li nz-menu-item routerLink="/join">Join Playlist</li>
      <li nz-menu-item routerLink="/get">Get Playlist</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-content style="padding:50px 50px;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
  <nz-footer style="text-align: center;">PLaylist W Friends ©2018</nz-footer>
</nz-layout>